<ion-header>
  <ion-toolbar>
    <ion-title>update-doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" >Doctor name</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor description</ion-label>
      <ion-textarea rows="2" [(ngModel)]="doctor.description" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor department</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.department"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor Specialization</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.specialization"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor phn. No.:</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Consultation fee</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.consultationFee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Timings</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.timings"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Start Time</ion-label>
      <ion-input placeholder="Enter start time to divide slots" [(ngModel)]="doctor.startTime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >End Time</ion-label>
      <ion-input placeholder="Enter end time to divide slots" [(ngModel)]="doctor.endTime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed" > Interval in mns </ion-label>
      <ion-input type="number" placeholder="Enter end time to divide slots" [(ngModel)]="doctor.interval"></ion-input>
    </ion-item>
    <ion-item>
      <b><h1 position="staked" > Allow Doctor to take Appointments</h1></b>
      <ion-toggle [(ngModel)]="doctor.doctorExist" ></ion-toggle>
    </ion-item>
  </ion-list>

    <ion-button color="primary" routerDirection="back" [routerLink]="'/view-doctor/'+doctor.id" >back</ion-button>
    <ion-button color="primary"  (click)="updateDoctor()">Update</ion-button>
  </ion-content>
      