<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sidemenu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-buttons slot="start"> 
  <!-- <ion-menu-button></ion-menu-button> -->
</ion-buttons>

<ion-split-pane>

  <ion-menu contentId="content">
    <ion-header>   
      <ion-menu-toggle auto-hide="false">
          <ion-toolbar color="primary">
                      <ion-avatar slot="start" routerDirection="root" (click)="viewprofile()"> 
                        <img src="../assets/icon/avataricon2.png" alt="">
                      </ion-avatar>
            <ion-title style="text-align: center;font-weight: bold;">Menu</ion-title>
          </ion-toolbar>
      </ion-menu-toggle>    
    </ion-header>
 

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
                {{ p.title }}
          </ion-label>
          </ion-item>
        </ion-menu-toggle>
 
        <!-- <ion-item tapable > -->
     
        <!-- <ion-buttons slot="end">
            <ion-button fill="clear" slot="icon-only" (click)="logout()">
               <ion-icon name="log-out" slot="start"></ion-icon>
               <ion-label>log out</ion-label>
            </ion-button>
       </ion-buttons> -->
        <!-- </ion-item> -->

        <ion-item tapable  (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Log Out
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-menu>

  
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>






  
  