<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <!-- <ion-back-button defaultHref="/sidemenu/sidehome"></ion-back-button> -->
      <ion-back-button (click)="goBack()" ></ion-back-button>
    </ion-buttons>
    <ion-title>homeview</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <ion-card color="primary">
    <ion-card-header>

      <ion-card-subtitle>{{doctor.createdAt | date: 'short'}}</ion-card-subtitle>
      <ion-card-title>{{doctor.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: black;">
      <h2 align="justify"><b>doctor description :  </b> {{doctor.description}}</h2>
      <br>
      <h2 align="justify"><b>doctor department :   </b> {{doctor.department}}</h2>
      <br>
      <h2 align="justify"><b>doctor specialization : </b> {{doctor.specialization}}</h2>
      <br>
      <h2 align="justify"><b>doctor phone : </b> {{doctor.phone}}</h2>
      <br>
      <h2 align="justify"><b>doctor consultationFee : </b> {{doctor.consultationFee}}</h2>
      <br>
      <h2 align="justify"><b>doctor timings : </b> {{doctor.timings}}</h2>
      <br>
    
    </ion-card-content>
 
  </ion-card>
  <ion-button routerDirection="root" routerLink="/sidemenu/sidehome/tabs/home">Back to home</ion-button>
  <ion-button routerDirection="forward" routerLink="bookview/{{doctor.id}}">Book Appointment</ion-button>

</ion-content>  