<ion-header>
  <ion-toolbar>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let booking of (bookingsdb1|async)">
    <ion-item>
      booking id  : {{booking.bookingId}} <br>
      booking slotId : {{booking.bookedSlot.slotId}} slotTime: {{booking.bookedSlot.slotTime}} <br>
      booking date  : {{booking.bookingDate | date : "short"}} <br>
      doctor id   : {{booking.doctorID}} <br>
      doctor name : {{booking.doctorName}} <br>
      
    </ion-item>
    <ion-item-divider></ion-item-divider>
  </ion-list>
</ion-content>
