<ion-header>
  <ion-toolbar>
    <ion-title>view-doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>{{doctor.createdAt | date: 'dd/mm/yyyy'}}</ion-card-subtitle>
      <ion-card-title>{{doctor.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: black;">
      <h2 align="justify"><b>doctor description : </b> {{doctor.description}}</h2>
      <br>
      <h2 align="justify"><b>doctor docId : </b> {{doctor.docId}}</h2>
      <br>
      <h2 align="justify" readonly disabled><b>doctor email : </b> {{doctor.emailId}}</h2>
      <br>
      <h2 align="justify"><b>doctor department : </b> {{doctor.department}}</h2>
      <br>
      <h2 align="justify"><b>doctor specialization : </b> {{doctor.specialization}}</h2>
      <br>
      <h2 align="justify"><b>doctor phone : </b> {{doctor.phone}}</h2>
      <br>
      <h2 align="justify"><b>doctor consultationFee : </b> {{doctor.consultationFee}}</h2>
      <br>
      <h2 align="justify"><b>doctor timings : </b> {{doctor.timings}}</h2>
      <br>
      <h2 align="justify"><b>doctor Start Time : </b> {{doctor.startTime}}</h2>
      <br>
      <h2 align="justify"><b>doctor EndTime : </b> {{doctor.endTime}}</h2>
      <br>
      <h2 align="justify"><b>doctors Slot Timing Interval:</b> {{doctor.interval}}</h2>
      <br>
      <h2 align="justify"><b>Doctors timeSlots</b></h2>
      <p *ngFor="let subSlot of doctor.timeSlots" no-lines>
        <span>slotId: {{ subSlot.slotId }} - slotTime: {{ subSlot.slotTime }}</span>
      </p>

      <h2 align="justify"><b>doctors Slots: </b> {{timeSlots}}</h2>
      <br>
      <ion-button slot="start" color="warning" [routerLink]="'/update-doctor/' + doctor.id">Edit</ion-button>
      <!-- <ion-button slot="start" color="warning" [routerLink]="'/insert/' + doctor.id">insert</ion-button> -->
      <!-- <ion-button slot="start" color="warning" >book appointment</ion-button> -->

    </ion-card-content>
  
  </ion-card>
  <ion-button routerLink="/">home</ion-button>
</ion-content>