<ion-header>
  <ion-toolbar color='success'>
    <ion-title class="center">signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1>Sign Up</h1>
  </div>

    <ion-list >
      <ion-item > 
        <ion-label position="floating">UserFullName</ion-label>
        <ion-input type="text" [(ngModel)]="userFullName"></ion-input>
      </ion-item>

      <ion-item > 
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password"  [(ngModel)]="cpassword"></ion-input>
      </ion-item>


      <ion-item-divider></ion-item-divider>

      <ion-button expand="block" shape="round" color="success" (click)="registeraction()" >sign up</ion-button>

      <br><br><br>

      <ion-item lines="none"  style="font-size :20px ; text-align :center" >
        Already a member<a routerLink="/index/login" > Sign in</a>
      </ion-item>


    </ion-list>


</ion-content>
