// ion-slide{
//     padding : 140px 80px;
//     // padding-top: 0px;
//     // margin-top: 30px;
//     // margin-bottom: 30px;
//     display: block;
//     // background-repeat: no-repeat;
//     // // background-attachment: fixed;
//     // background-size: contain;
//     // // bottom:-30%;
//     // // left: -5%;
//     // // backface-visibility: hidden;
//     // // position:relative;
//     // // top :50;
//     // // left:0;
//     // // transform:translate(-50%,-100%);

//     // h1{
//     //     font-size: 36px;
//     //     font-weight: bold;
//     // }
    
//     // background-image{

//     //     left:0px;
//     // }
// }

.root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-container {
      height:10000px;
      width: 350px;
  }


  ion-slide > h2 {
    margin-top: 2.8rem;
  }

  ion-slide > .img1 {
    max-height: 90%;
    max-width: 130%;
    position:relative;
    left:-14%;
    margin: 36px 0;
    margin-bottom:100px;

  }

  .img2 {
      position: relative;
    //   left:0%;
    height:70vh;
    
      width:100%;

  }