<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sidehome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-tabs>
  <ion-tab-bar slot="start">

    <ion-tab-button tab="home">
      <ion-icon ios="ios-home" md="md-home"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
      <ion-label>feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
      <ion-label>notifications</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


<!-- 
<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Tab2</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs> -->
