ion-tab-button.tab-selected {
    ion-icon{
        color: var(--ion-color-success) !important;
        
    } ;
    ion-label{
        color: var(--ion-color-primary) !important;
       // --ion-color-base :var(--ion-color-success) !important;     
    }
  }
  