<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <!-- <ion-back-button defaultHref="/sidemenu/sidehome"></ion-back-button> -->
      <!-- <ion-back-button (click)="goBack()" ></ion-back-button> -->
    </ion-buttons>
    <ion-title>help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
</ion-content>
