<ion-header>
  <ion-toolbar>
    <!-- <ion-menu-button slot="start"></ion-menu-button> -->
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
