ion-col {
    background-color: lightness($color: #000000);
}
// .slots {
//     color : black;
//     cursor:pointer;
//     background-color: blue;
//     padding: 10px 20%;
//     // margin-left:auto;
//     margin-bottom: 1x;
//     // left: 50%;
//     text-align: center;

//     span{
//         margin-bottom: 5px;
//     }
// }