<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons> 
    <ion-title>bookview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- [options]="optionsRange"
  [options]="optionsMulti" 
(click)="showSlotss(true)"-->
  <ion-calendar [(ngModel)]="dateRange"
  (onChange)="onChange($event)"
  
  [type]="type"
  [format]="'YYYY-MM-DD'">
</ion-calendar>


<!--    
  <ion-list>
    <ion-item>
      {{doctor.name}} 
      {{doctor.id}} 

    </ion-item>
     <ion-list> 
      <ion-item>
        <ion-label position="floating" >bookId</ion-label>
        <ion-input placeholder="Enter Title" [(ngModel)]="bookingId"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating" >Description</ion-label>
        <ion-textarea rows="2" [(ngModel)]="userId" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-list> 
    
 routerLink="/sidemenu/sidehome/tabs/home/homeview/{{doctor.id}}" 

</ion-list> -->

<!-- *ngIf="counter" -->
<!-- <div> -->
  <ion-list *ngFor="let patient of (patientsdb | async)" lines="none">
    <p class="slots" *ngFor="let timeSlot of doctor.timeSlots" >
      <ion-button color="primary" shape="round" expand="block"> <span cursor="pointer"  (click)="addBookingShow(patient,timeSlot)">{{timeSlot.slotTime}}</span> </ion-button>
    </p>
  
    <!-- <ion-button color="primary" expand="full" (click)="addBookingShow(patient)" >Add this Booking</ion-button> -->
  </ion-list>
    
<!-- </div> -->












<!-- 
              <h1 text-align="center">last history</h1>

            <ion-list  *ngFor="let booking of (bookingsdb|async)">
              <ion-item>
                <ion-label>
                  <h1> booking id is {{booking.id}}</h1>
                  <h1> booking slot id is {{booking.bookedSlot.slotId}}</h1>
                  <h1> booking slot Time is {{booking.bookedSlot.slotTime}}</h1>
                  <h2> {{booking.bookingId}} </h2>
                  <h2> {{booking.status}} </h2>
                  <h2> {{booking.bookingDate | date :"short"}} </h2>

                </ion-label>
              </ion-item>
            </ion-list> -->

  
 
<!-- 
 <ion-grid>
  <ion-label>morning shifts</ion-label>  <br>
   <ion-row>
    <ion-button><ion-col>1-2</ion-col></ion-button>
      <ion-button><ion-col>2-3</ion-col></ion-button>
        <ion-button><ion-col>3-4</ion-col></ion-button>

   </ion-row>
<br>
   <ion-label>evenging shifts</ion-label>  <br>
   <ion-row>
    <ion-button> <ion-col>4-5</ion-col></ion-button>
      <ion-button>  <ion-col>5-6</ion-col></ion-button>
        <ion-button> <ion-col>6-7</ion-col></ion-button>

  </ion-row>

  <br>
   <ion-label>ni8 shifts</ion-label>  <br>
   <ion-row>
    <ion-button>  <ion-col >8-9</ion-col></ion-button>
      <ion-button>  <ion-col>9-10</ion-col></ion-button>
        <ion-button>  <ion-col>10-11</ion-col></ion-button>

  </ion-row>
 </ion-grid>

  -->
</ion-content>
