// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// ion-content ion-toolbar {
//   --background: translucent;
// }


.sideHead1 {
  text-align :center;
  color: rgb(39, 207, 75);
  font-weight: bolder;
}

.sideHead2 {
    text-align :center;
    color: rgb(162, 175, 170);
    font-weight: bolder;
}
.sideHead {
  text-align :center;
  color: red;
  font-weight: bolder;
}

.liftUp {
  position: absolute;
  transform: translate(0,50%);
}
ion-toggle {
  left :40%;
  // font-display: f;
  display: flex;
  justify-content: space-around;
}


// .txtbtwn{
//   // display: flex;
//   // justify-content: space-between;
// }