<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="logout()">
      <ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <h1 class="sideHead1" *ngIf="(doctorsdb1 | async)?.length>0 ; else noRecords">Curretly Active doctors</h1>
        <ion-list *ngFor="let doctor of (doctorsdb1 | async) ">
<!-- its working but repeating for al them doctors -->
      <!-- <h1 class="sideHead" *ngIf="(doctor)" >Curretly Active doctors</h1> -->

          <ion-item>
            <ion-label>
                      <h1>doctor name : {{doctor.name}}</h1> 
                      <!-- <h1>doctor created date : {{doctor.createdAt | date : 'mediumDate'}}</h1>  -->
                      <h1 *ngIf="doctor.createdOn" [innerHtml]="printData(doctor.createdOn)"></h1> 
                      <h2> Doctor description : {{doctor.description}}</h2> 
                      <h2>doctor id : <b>{{doctor.id}} </b></h2>  
                      <h2 class="txtbtwn"><span class="liftUp">Allow Doctor : </span><ion-toggle [(ngModel)]="doctor.doctorExist" (click)="changeActiveToBlock(doctor)"></ion-toggle> </h2> 


                      <!-- <h2 class="txtbtwn"><span class="liftUp">Allow Doctor : </span><ion-toggle [(ngModel)]="doctor.doctorExist" (ionChange)="change(doctor)"></ion-toggle> </h2>  -->

<!-- Here we use [(ngModel)] because toggleresult is displayed from ngModel what we give there , here we doctor.doctorExist ,
   therefore ngModel takes the doctor.DoctorExist as input value and toggle is displayed based on this value,
  if the value is "True" Togggle would be displayed as "ON" else "OFF"      -->
  <!-- The ngModel value depends on realtime value from firebase database  and if we want to change the toggle value responsively
   we track (ionChange) and update this change to the database using a "function call" on change of toggle using "ionChange" -->

            </ion-label>
                      <ion-button fill="outline" slot="end" [routerLink]="'/view-doctor/'+doctor.id">View</ion-button>
          </ion-item>
        </ion-list> 
        
        <ion-item-divider></ion-item-divider>
        <ion-item-divider></ion-item-divider>

        <h1 class="sideHead2" *ngIf="(doctorsdb2 | async)?.length>0">Disabled Doctors</h1>
        <ion-list *ngFor="let doctor of (doctorsdb2 | async) ">
          <ion-item>
            <ion-label>
                      <h1>{{doctor.name}}</h1> 
                      <h1>doctor created date : {{doctor.createdAt | date : 'short'}}</h1> 
                      <h1>doctor created date : {{doctor.createdAt1}}</h1> 
                     
                      <h2>{{doctor.description}}</h2> 
                      <h2><b>{{doctor.id}} </b></h2>  
                      <h2 class="txtbtwn"><span class="liftUp">Allow Doctor : </span><ion-toggle [(ngModel)]="doctor.doctorExist" (click)="changeBlockToActive(doctor)"></ion-toggle> </h2> 


                      <!-- <h2 class="txtbtwn"><span class="liftUp">Allow Doctor : </span><ion-toggle [(ngModel)]="doctor.doctorExist" (ionChange)="change(doctor)"></ion-toggle> </h2>  -->

            </ion-label>
                      <ion-button fill="outline" slot="end" [routerLink]="'/view-doctor/'+doctor.id">View</ion-button>
          </ion-item>
        </ion-list>


        <ng-template #noRecords>
          <h1 class="sideHead"> We dont have any Doctors Right Now</h1>
        </ng-template>

        <!-- <h1  *ngIf="(doctorsdb1 | async)?.length==1 && (doctorsdb2 | async)?.length==1"> here we go</h1> -->
    
        <ion-fab>
          <ion-fab-button vertical="bottom" horizontal="end" routerLink="/doctregister">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

</ion-content>
 