<!-- <ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header> -->

  <!-- <ion-buttons slot="start" >
    <ion-back-button defaultHref="/sidemenu/sidehome"></ion-back-button>
  </ion-buttons> -->
<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <!-- <ion-icon name="pencil-outline"></ion-icon> -->
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>History</ion-title>
    <ion-buttons  slot="end">
      <ion-button  icon-only >
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>




<ion-content>

<ion-grid>
  <ion-row *ngFor="let booking of (bookingsdb|async)">
    <ion-buttons> <ion-col>{{booking.id}}</ion-col> </ion-buttons>  
    <ion-buttons> <ion-col>{{booking.bookingDate | date: 'short'}}</ion-col> </ion-buttons>
    <ion-buttons> <ion-col>{{booking.status}}</ion-col> </ion-buttons>  
    <!-- <ion-buttons> <ion-col>{{booking.patientname}}</ion-col></ion-buttons>
    <ion-buttons> <ion-col>{{booking.relationship}}</ion-col></ion-buttons> -->

  </ion-row>
</ion-grid>

<!-- <ion-list  *ngFor="let booking of (bookingsdb|async)">
  <ion-item>
    <ion-label>
      <h1> {{booking.bid}}</h1>
      <h2> {{booking.bookingId}} </h2>
      <h2> {{booking.status}} </h2>

    </ion-label>
  </ion-item>
</ion-list> -->
<!-- <ion-button color="primary" expand="full" (click)="addBookingShow()" >Add this Booking</ion-button> -->


 
<!-- 
 <ion-grid>
  <ion-label>morning shifts</ion-label>  <br>
   <ion-row>
    <ion-button><ion-col>1-2</ion-col></ion-button>
      <ion-button><ion-col>2-3</ion-col></ion-button>
        <ion-button><ion-col>3-4</ion-col></ion-button>

   </ion-row>
<br>
   <ion-label>evenging shifts</ion-label>  <br>
   <ion-row>
    <ion-button> <ion-col>4-5</ion-col></ion-button>
      <ion-button>  <ion-col>5-6</ion-col></ion-button>
        <ion-button> <ion-col>6-7</ion-col></ion-button>

  </ion-row>

  <br>
   <ion-label>ni8 shifts</ion-label>  <br>
   <ion-row>
    <ion-button>  <ion-col >8-9</ion-col></ion-button>
      <ion-button>  <ion-col>9-10</ion-col></ion-button>
        <ion-button>  <ion-col>10-11</ion-col></ion-button>

  </ion-row>
 </ion-grid>

  -->
</ion-content>
