<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <!-- <ion-icon name="pencil-outline"></ion-icon> -->
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title><h1>viewprofile</h1></ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-list lines="none" *ngFor="let patient of (patientsdb|async)">

    <!-- <ion-list lines="none" > -->
            <ion-card>
              <ion-card-content>
                <ion-item >
                <h1>patientID : </h1> <h2>{{patient.id}}</h2> 
              </ion-item>

              <ion-item>
                  <h1>patient EmailId : </h1> <h2>{{patient.emailId}}</h2>
                </ion-item>
                 
                <ion-item>
                    <h1>patient name : </h1> <h2>{{patient.userFullName}} </h2>        
                  </ion-item>
              </ion-card-content>
            </ion-card> 
    <ion-button class="edit" size="default" shape="round" routerLink="updateprofile/{{patient.id}}">edit</ion-button> 
  </ion-list>

  </ion-content>
 