ion-icon{
    font-size: xx-large;

}
.edit{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    
}

ion-card {
    width: 100vw;
    height :80vh ;
    // text-align:left;
    margin-left: 1px;
    overflow : visible;
}





    ion-item {
        
        
        h1{
            font-weight: bolder;
        }
        h2{
            font-weight: bold;
        }
    }
