<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class= "center">
  <h1>Sign In</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating" >username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >password</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

    <ion-item-divider></ion-item-divider>


   
   <ion-button expand="block" shape="round" color="success" (click)="loginaction()"> Sign in</ion-button>

      
      <ion-item lines="none" class="center" style="font-size :20px ; text-align :center">new user ?  
        <a routerLink='/index/signup' > create Account</a>
      </ion-item>

  </ion-list>
</ion-content>