<ion-header>
  <ion-toolbar color="success">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>home</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--   
  <ion-tabs>
    <ion-tab-bar slot="start">
  
      <ion-tab-button >
        <ion-label>home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-label>feed</ion-label>
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-label>notifications</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs> -->

  
  <!-- <h1>this is home page</h1> -->
  
  <ion-list *ngFor = "let doctor of (doctorsdb|async)">

    <!-- <ion-list> -->

      <ion-toggle [(ngModel)]="doctor.toInclude" (click)="changetoInclude(doctor)"></ion-toggle>
      <!-- <h2 class="txtbtwn"><span class="liftUp">Allow Doctor : </span><ion-toggle [(ngModel)]="doctor.doctorExist" (click)="changeActiveToBlock(doctor)"></ion-toggle> </h2>  -->


    <ion-card>
      <ion-label align="justify">
          <h1><b> Id : {{doctor.id}}</b></h1>
          <h1><b>Doctor name : {{doctor.name}}</b></h1>
          <h1><b>Doctor email : {{doctor.emailId}}</b></h1>
          <h1><b>Doctor specialization : {{doctor.specialization}}</b></h1>
          <h1><b> Doctor Timeslots</b></h1>
          <p *ngFor="let timeSlot of doctor.timeSlots">
            <span>SlotId : {{timeSlot.slotId}} - TimeSlot : {{timeSlot.slotTime}}</span>
          </p>
      </ion-label>

    </ion-card>
    <!-- <ion-button (click)="getDoctorAppointments(doctor.id)">my Appointments</ion-button> -->
    <ion-button routerLink="history/{{doctor.id}}">my Appointments</ion-button>

  </ion-list>

</ion-content>
 