<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<!-- doctregister is to register a doctor make him available to take up appointments -->
<!-- view-doctor  to view a particular doctor-->
<!-- update-doctor  to update a particular doctor-->